<?php
// ** MySQL settings ** //
define('DB_NAME', '{{ db_name1 }}');
define('DB_USER', '{{ global_rds_info_user }}');
define('DB_PASSWORD', '{{ db_pass1 }}');
define('DB_HOST', '{{ global_rds_info_host }}');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');
